@import "tailwindcss";

body {
  margin: 0;
  font-family: "Neuehaasgrotdisp55roman";

}
@font-face {
  font-family: "InstrumentSerif";
  src: url(../Fonts/InstrumentSerif-Regular.ttf);
}

@font-face {
  font-family: "Neuehaasgrotdisp55roman";
  src: url(../Fonts/neuehaasgrotdisp-55roman-trial.otf);
}
